@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";

.logout-btn {
    padding: 12px;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $light_blue;

    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $hover;
    }

    svg {
        fill: $light_blue;

        width: 24px;
        height: 24px;
    }

    @media only screen and (max-width: $breakpoint_mobile) {
        margin: 0;
        margin-top: 16px;
    }
}
