@import "../../../assets/styles/variables/colors";

.tasks-list {
    background-color: $light_purple;
    width: 100%;
    border-radius: 4px;
    padding: 16px;
    overflow-y: auto;
    max-height: 600px;
    position: relative;

    &--first {
        margin-right: 8px;

        @media only screen and (max-width: 950px) {
            margin-bottom: 16px;
            margin-right: 0px;
        }
    }

    &--sec {
        margin-left: 8px;
    }

    &__title {
        color: $main-font;
        font-size: 1.5rem;
        margin-bottom: 16px;
        margin-top: 0;
        text-align: center;
    }
}
