@import "./variables/colors";
@import "./globalClasses/globalClasses";

* {
    font-family: "Ubuntu", sans-serif;
    color: $main-font;

    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: $dark_purple;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
